{% extends "bucket/templates/base.html" %}
{% block content %}
    <script src="{{ url_for("static", filename="js/findex/search.js") }}"></script>
    {% import 'bucket/templates/main/meta/_macros.html' as macros %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="popcorn" class="container-fluid" style="max-width: 1400px;">
            <div class="row">
                <div class="filters col-md-10 col-md-offset-1">
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <input disabled id="movie_title" placeholder="Movie Title" name="movie_title" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="year" placeholder="Year" name="year" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="min_rating" placeholder="Min. Rating" name="min_rating" class="txtinput">
                        </div>
                        <div class="col-md-4 beetje-padding">
                            <div id="cast" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <div id="genres" class="selectivity-input example-input"></div>
                        </div>
                        <div class="col-md-3 beetje-padding">
                            <div id="director" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="form-group" style="display:inline;">
                                <button type="submit" id="submit_search" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    div.results table tbody td{
                        padding:4px;
                    }
                    div.results table tbody td:first-child img{
                        max-height:100px;
                    }
                    div.results table tbody td:first-child{
                        width: 80px;
                    }
                    div.results table tbody h1,
                    div.results table tbody h2,
                    div.results table tbody h3,
                    div.results table tbody h4{
                        padding-top:0;
                        margin-top:0;
                        margin-bottom:0;
                        padding-bottom:0;
                        font-weight:bold;
                    }
                </style>
                <div class="results col-md-10 col-md-offset-1">
                    <div class="row">
                        {% if not results %}
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Poster
                                        </th>
                                        <th>Info</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Plot</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="https://image.tmdb.org/t/p/w320/yeJPtZlChYGoCVmvYIrjAeQII7R.jpg"/></td>
                                        <td>
                                            <h4>Je mtest versie</h4>
                                            <span>Director: <a href="">Quentin Tarintino</a></span><br>
                                            <span>Actors:
                                                <a href="#">Blaat Ellre</a>,
                                                <a href="#">Xoopem EKFoegns</a>,
                                                <a href="#">Alexander Misarouve (I)</a>
                                            </span><br>
                                        </td>
                                        <td>
                                            Director: test
                                        </td>
                                        <td>johncarter@mail.com</td>
                                        <td>Lorem ipsum dolor sit amet…</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Peter</td>
                                        <td>Parker</td>
                                        <td>peterparker@mail.com</td>
                                        <td>Vestibulum consectetur scelerisque…</td>
                                    </tr>
                                </tbody>
                            </table>

                            <style>
                                div.overview{
                                    border: 1px solid red;
                                    overflow: hidden;
                                }
                                div.overview h1,
                                div.overview h2,
                                div.overview h3,
                                div.overview h4{
                                    padding-top:0;
                                    margin-top:0;
                                    margin-bottom:0;
                                    padding-bottom:0;
                                    font-weight:bold;
                                }
                                div.overview>div.item{
                                    float:left;
                                    width:50%;
                                    border:1px solid green;
                                }
                                div.overview>div.item>div{
                                    float:left;
                                }
                                div.overview>div.item>div.poster{
                                    width:20%;
                                    height:160px;
                                    background-size:cover;
                                    background-repeat: no-repeat;

                                }
                                div.overview>div.item>div.info{
                                    width:80%;
                                    padding-left:6px;
                                    padding-right:6px;
                                }
                                div.overview>div.item>div.info>div.title_container{
                                    overflow:hidden;
                                    border-bottom:1px solid #e0e0e0;
                                }
                                div.overview>div.item>div.info>div.title_container>.title{
                                    float:left;
                                    width:80%;
                                    font-weight:bold;
                                    font-size:16px;
                                    padding-bottom:2px;
                                    line-height: 18px;
                                }
                                div.overview span.year_release{
                                    font-size:12px;
                                    color: darkgrey;
                                }
                                div.overview>div.item>div.info>div.title_container>.rating{
                                    width:20%;
                                    float:left;
                                    text-align:right;
                                }
                                div.overview>div.item span.people{
                                    display:block;
                                    margin-top:6px;
                                }
                                div.overview>div.item span.synopsis{
                                    margin-top:6px;
                                    color: #505050;
                                    display: block;
                                }
                            </style>
                            <div class="overview">
                                <div class="item">
                                    <div class="poster" style="background-image: url('https://image.tmdb.org/t/p/w320/yeJPtZlChYGoCVmvYIrjAeQII7R.jpg')"></div>
                                    <div class="info">
                                        <div class="title_container">
                                            <div class="title">
                                                Coole film met een hele lange titel ej lange titel <span class="year_release">- 2007</span>
                                            </div>
                                            <div class="rating">
                                                *******
                                            </div>
                                        </div>

                                        <span class="people">
                                            <a href="">Quentin Tarintino</a> |
                                            <a href="#">Blaat Ellre</a>,
                                            <a href="#">Xoopem EKFoegns</a>,
                                            <a href="#">Alexander Misarouve (I)</a>
                                        </span>

                                        <span class="synopsis">
                                            "Follows teenager Clay Jensen, in his quest to uncover the story behind his classmate and crush, Hannah, and her decision to end her life."
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% for result in results %}
                        <div class="col-md-4 no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ result.meta_imdb.title }} ({{ result.meta_imdb.year }})
                                    <a target="_blank" class="pull-right" href="{{ application_root }}search/{{ result.meta_imdb.title }}&cats=[movies]">
                                        <button type="submit" class="btn btn-info btn-sm" >
                                            <i class="fa fa-search fa-fw"></i> Link
                                        </button>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        {% set plot = result.meta_imdb.plot[:result.meta_imdb.plot.find("BY:")] %}
                                        {{ plot[:500] }}
                                        {% if plot|length > 500 %}
                                             [...]
                                        {% endif %}
                                    </p>
                                    <p>
                                        Director:
                                        <a href="{{ application_root }}meta/popcorn/director/{{ result.meta_imdb.director }}">{{ result.meta_imdb.director }}</a><br>
                                        Actors:
                                        {{ macros.actors_link(result.meta_imdb.actors) }}
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <div class="rating">
                                        {{ macros.rating(result.meta_imdb.rating/10) }}
                                        <div class="pull-right">
                                            {{ result.meta_imdb.rating/10 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('#director').selectivity({
            multiple: true,
            placeholder: "Director",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/director/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        return {
                            results: $.map(data.items, function(item) {
                                return {
                                    text: item.director,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#cast').selectivity({
            multiple: true,
            placeholder: "Cast",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/actor/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        console.log(data);
                        return {
                            results: $.map(data.items, function(item) {
                                return {
                                    text: item.actor,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#genres').selectivity({
            items: [
                "Family",
                "Music",
                "Documentary",
                "Fantasy",
                "Animation",
                "Sci-Fi",
                "War",
                "Biography",
                "History",
                "Mystery",
                "Adventure",
                "Adult",
                "Short",
                "Thriller",
                "News",
                "Musical",
                "Drama",
                "Comedy",
                "Western",
                "Horror",
                "Romance",
                "Action",
                "Crime",
                "Sport"
            ],
            multiple: true,
            placeholder: 'Select Genre'
        });

        $('.selectivity-input').change(function(){
            var a = $(this).find(".selectivity-multiple-selected-item");
            if(a.length == 1){
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 2)
            } else {
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 9)
            }
        });

        let args = window.location.pathname.split("/").slice(-1)[0];
        args = Search.get_urlbar_items(args, false);

        if(args.hasOwnProperty("year")){
            $("#year").val(args["year"]);
        }

        if(args.hasOwnProperty("genres")){
            if(args["genres"].length > 0){
                $("#genres").selectivity('value', args["genres"]);
            }
        }

        if(args.hasOwnProperty("director")){
            $("#director").selectivity('value', [args["director"]])
        }

        if(args.hasOwnProperty("actors")){
            if(args["actors"].length > 0) {
                $("#cast").selectivity('value', args["actors"])
            }
        }

        if(args.hasOwnProperty("min_rating")) {
            $("#min_rating").val(args["min_rating"]);
        }

        $("#submit_search").click(function(){
            function get_selectivity(sel){
                let values = [];
                $(`${sel} .selectivity-multiple-selected-item`).each(function() {
                    values.push($(this).text());
                });

                return values;
            }

            let params = {};
            params["actors"] = get_selectivity("#cast");
            params["genres"] = get_selectivity("#genres");
            params["director"] = get_selectivity("#director");
            if(params["director"].length > 0) params["director"] = params["director"][0];
            else params["director"] = null;

            params["min_rating"] = $("#min_rating").val();
            if(params["min_rating"]){
                params["min_rating"] = parseFloat(params["min_rating"]);
            }

            params["year"] = $("#year").val();
            if(params["year"]){
                params["year"] = parseInt(params["year"]);
            }

            let url = "";
            $.each(["actors", "genres", "director", "min_rating", "year"], function(index, key){
                if(params.hasOwnProperty(key) && params[key]){
                    if(params[key] instanceof Array){
                        if(params[key].length > 0) {
                            url += `${key}=[${params[key].join(",")}]&`;
                        }
                    } else {
                        url += `${key}=${params[key]}&`;
                    }
                }
            });

            if(url){
                url = url.slice(0, - 1);
                window.location.href = `${APPLICATION_ROOT}meta/popcorn/${url}`;
            } else {
                window.location.href = `${APPLICATION_ROOT}meta/popcorn`;
            }
        });
    });
    </script>
{% endblock %}
